{
    "presets": [ "react-app" ],
    "plugins": [
        ["component", {
            libraryName: 'thanos',
            style: true,
            libDir: 'dist',
            camel2Dash: false
        }, 'thanos']
    ]
}